.choose-view {
  &__choices-container{
    display: flex;
    flex-direction: column;
  }

  &__choice-input {
    display: none;
  }

  &__choice-label {
    border: 1px solid;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hotpink;
  }
}
