<div class="choose-view__choices-container">
  <label
    ng-repeat="(key, value) in vm.weapons"
    class="choose-view__choice-label"
  >
    <p>{{key}}</p>
    <input
      type="radio"
      class="choose-view__choice-input"
      ng-model="vm.selected"
      ng-change="vm.onChange(key)"
      ng-value="key"
    >
    <div ng-switch="key">
      <i class="fa fa-4x fa-hand-rock-o" ng-switch-when="rock" aria-hidden="true"></i>
      <i class="fa fa-4x fa-hand-scissors-o" ng-switch-when="scissors" aria-hidden="true"></i>
      <i class="fa fa-4x fa-hand-paper-o" ng-switch-when="paper" aria-hidden="true"></i>
    </div>
  </label>
</div>
