$choices-container-height: 51rem;
$choice-container-height: 16rem;

@mixin choices-container() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: $choices-container-height;
}


@mixin choice-container() {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $font-larger;
  width: 90%;
  border: 1px solid $contrast-colour;
  border-radius: 5px;
  padding: 1rem 3rem;
  background-color: $main-colour;
  height: $choice-container-height;

  //overwrite for hand icon (which has internal spacing) so that it aligns with other icons
  .fa-hand-paper-o:before {
    margin-right: -1rem;
  }

  p {
    max-width: 19rem;
  }

  p::first-letter, a::first-letter {
    text-transform: capitalize;
  }
}
